services:
  # L'API v1 avec ses 3 exemplaires
  api-v1:
    build: ./src/api/v1
    deploy:
      replicas: 3

  # L'API v2 (Debug)
  api-v2:
    build: ./src/api/v2

  # La Gateway Nginx
  nginx:
    build: ./deployments/nginx
    ports:
      - "80:80"
      - "443:443"

  # Monitoring
  prometheus:
    image: prom/prometheus
    volumes:
      - ./deployments/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    command:
      - -nginx.scrape-uri=http://nginx:8080/nginx_status
    depends_on:
      - nginx
